<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHBl8cg4dVLZiRSL5hswp8TsmuvJgl1Cw</string>
	<key>GCM_SENDER_ID</key>
	<string>465131815765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineCourseApplication</string>
	<key>PROJECT_ID</key>
	<string>online-ourse-application</string>
	<key>STORAGE_BUCKET</key>
	<string>online-ourse-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465131815765:ios:a31184a2f15757828ee5dc</string>
</dict>
</plist>